<svg:g app-draggable
    [drag-enabled]="!editableText.isEditing()"
    [draggabe-element]="sticky"
    [translate]="sticky.temporaryLocationOffset">
  <g [appTranslateToBoundsLocation]="sticky.bounds">
    <svg:rect class="sticky-note" [attr.width]="sticky.bounds.width" [attr.height]="sticky.bounds.height"/>
    <!--<svg:text x="5" y="20" fill="black" font-family="Verdana" font-size="14">{{text}}</text>-->
    <g app-editable-text-area
      [bounds]="{x: 5, y: 5, width: sticky.bounds.width - 10, height: sticky.bounds.height - 10 -24}"
      [(areaText)]="sticky.text" #editableText/>

    <g *ngIf="!editableText.isEditing()">
      <g app-button
          [bounds]="buttonBoundsByIndex(0)"
          (click)="editableText.startEditing()"
          iconId="pencil">
      </g>
    </g>
    <g *ngIf="editableText.isEditing()">
      <g app-button
          [bounds]="buttonBoundsByIndex(0)"
          (click)="editableText.discardEdit()"
          iconId="x">
      </g>
      <g app-button
          [bounds]="buttonBoundsByIndex(1)"
          (click)="editableText.confirmEdit()"
          iconId="check">
      </g>
    </g>
  </g>
</svg:g>
