<svg:g [attr.transform]="'translate(' + elemX + ',' + elemY + ')'">
  <svg:rect class="sticky-note" [attr.width]="elemWidth" [attr.height]="elemHeight"/>
  <!--<svg:text x="5" y="20" fill="black" font-family="Verdana" font-size="14">{{text}}</text>-->
  <g app-editable-text-area elemX="5" elemY="5" [elemWidth]="elemWidth-10" [elemHeight]="elemHeight-10-24" [areaText]="text" #editableText/>
  <g app-edit-button *ngIf="!editableText.isEditing()" [elemWidth]="24" [elemHeight]="24" [elemX]="5" [elemY]="elemHeight-5-24" [editable]="editableText"/>
  <g app-confirm-button *ngIf="editableText.isEditing()" [elemWidth]="24" [elemHeight]="24" [elemX]="5" [elemY]="elemHeight-5-24" [editable]="editableText"/>

</svg:g>
