<svg:g>
<!-- TODO: Shadow not yet visible -->
<defs
     id="defs2">
    <filter
       height="1.072"
       y="-0.035999998"
       width="1.072"
       x="-0.035999998"
       id="blurFilter"
       style="color-interpolation-filters:sRGB">
      <feGaussianBlur
         id="feGaussianBlur4918"
         stdDeviation="0.39" />
    </filter>
  </defs>
<path
       id="shadow"
       d="m 5.936,4.0639996 -2,2 V 30.063999 h 24 l 2,-2 V 4.0639996 Z"
       style="opacity:0.3;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.99999994;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke;filter:url(#blurFilter)" />
<path
   style="fill:#dce099;fill-opacity:1;stroke:#000000;stroke-width:1.00109911;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
   d="M 3.9184235,26.021179 V 1.9948006 H 27.944801 V 26.021179 Z"
   id="upperSticky"
   inkscape:connector-curvature="0" />
<path
   style="fill:#dce099;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:1.00109911;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
   d="m 21.938208,26.021142 c 2.002198,-1.001087 5.005495,-4.004384 6.006594,-6.006558 -1.651196,0.554915 -3.277206,1.431822 -5.005496,1.001088 0.240938,0.970703 0.158624,2.333964 -1.001098,5.00547 z"
   id="distantCorner"
   inkscape:connector-curvature="0" />
<path
   style="fill:#b1b477;fill-opacity:1;stroke:#000000;stroke-width:1.00109911;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
   d="M 3.9184235,1.9947995 1.916225,3.9969981 V 28.023377 l 2.0021985,-2.002198 z"
   id="leftBlockSide"
   inkscape:connector-curvature="0" />
<path
   inkscape:connector-curvature="0"
   id="distantCornerShadow"
   d="m 21.938208,26.021142 c 2.002198,-1.001087 5.005495,-4.004384 6.006594,-6.006558 0,3.003298 0,6.006596 0,6.006596 0,0 -3.003298,0 -6.006594,-3.8e-5 z"
   style="fill:#b1b477;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:1.00109911;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
   sodipodi:nodetypes="cccc" />
<path
   style="fill:#b1b477;fill-opacity:1;stroke:#000000;stroke-width:1.00109911;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
   d="M 3.9184235,26.021179 1.916225,28.023377 h 24.026378 l 2.002198,-2.002198 z"
   id="lowerBlockSide"
   inkscape:connector-curvature="0" />
<path
   id="Plus"
   style="opacity:0.51799999;fill:none;stroke:#000000;stroke-width:3.00329709;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
   d="M 8.9239193,13.00689 H 22.939306 M 15.931613,5.9991965 V 20.014584"
   inkscape:connector-curvature="0" />
</g>
